<!doctype html>
<html>
<head>
	<title>Laptop store</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="LaptopStore.css">
</head>
<body>
	<div id="wrapper">
		<header>
			<ul>
				<li><a href="#">Apple</a></li>
				<li><a href="#">Toshiba</a></li>
				<li><a href="#">Lenovo</a></li>
				<li><a href="#">Dell</a></li>
				<li><a href="#">Asus</a></li>
				<li><a href="#">Acer</a></li>
				<li><a href="#">HP</a></li>
			</ul>
		</header>
		<div id="laptops">
			<fieldset>
				<legend>Apple MacBook Air</legend>
				<img src="images/icon_MacBookAir.png" alt="">
				<span>64 GB SSD</span>
            	<span>2 GB DDR</span>
				<span class="price">1300 USD</span>
                <span>Intel Core i5</span>
			</fieldset>
			<fieldset>
				<legend>Apple MacBook Air</legend>
				<img src="images/icon_MacBookAir.png" alt="">
				<span>64 GB SSD</span>
            	<span>2 GB DDR</span>
				<span class="price">1300 USD</span>
                <span>Intel Core i5</span>
			</fieldset>
			<fieldset>
				<legend>Apple MacBook Air</legend>
				<img src="images/icon_MacBookAir.png" alt="">
				<span>64 GB SSD</span>
            	<span>2 GB DDR</span>
				<span class="price">1300 USD</span>
                <span>Intel Core i5</span>
			</fieldset>
			<fieldset>
				<legend>Apple MacBook Air</legend>
				<img src="images/icon_MacBookAir.png" alt="">
				<span>64 GB SSD</span>
            	<span>2 GB DDR</span>
				<span class="price">1300 USD</span>
                <span>Intel Core i5</span>
			</fieldset>
			<fieldset>
				<legend>Apple MacBook Air</legend>
				<img src="images/icon_MacBookAir.png" alt="">
				<span>64 GB SSD</span>
            	<span>2 GB DDR</span>
				<span class="price">1300 USD</span>
                <span>Intel Core i5</span>
			</fieldset>
			<fieldset>
				<legend>Apple MacBook Air</legend>
				<img src="images/icon_MacBookAir.png" alt="">
				<span>64 GB SSD</span>
            	<span>2 GB DDR</span>
				<span class="price">1300 USD</span>
                <span>Intel Core i5</span>
			</fieldset>
		</div>
			<aside>
				<div class="floatLeft" id="sliders">
					<label for="min-price">Min price: 500USD</label><br/>
				<input type="range" id="min-price"/><br/>
				<label for="max-price">Max price: 1500USD</label><br/>
				<input type="range" id="max-price"/><br/>
				<label for="min-ram">Min RAM: 4GB</label><br/>
				<input type="range" id="min-ram"/><br/>
				<label for="max-ram">Max RAM: 16GB</label><br/>
				<input type="range" id="max-ram"/>
				</div>
			</aside>
		
	</div>
</body>
</html>