* {
	margin: 0;
	padding: 0;
}
#wrapper {
	position: relative;
	border: 2px solid #363636;
	border-radius: 5px;
	height: 665px;
	width: 905px;
	font-family: Arial, serif;
	padding: 10px;
}
ul {
	list-style-type: none;
	text-align: center;
	font-size: 36px;
	margin-top: 10px;
	border-bottom: 2px solid #353535;
	padding-bottom: 5px;
	margin-left: 25px;
	margin-right: 25px;
}
ul li {
	display: inline-block;
}
ul li a {
	color: #15B5F1;
}
#laptops {
	height: 571px;
	width: 658px;
	margin-top: 10px;
	border: 2px solid #353535;
	padding: 5px 5px 15px 5px;
}
#laptops fieldset {
	border: 2px solid black;
	float: left;
	height: 180px;
	width: 315px;
    margin: 5px;
    text-align: center;	
    font-weight: bold;
    font-size: 20px;
}
#laptops fieldset img {
	height: 120px;
	width: 170px;
	float: left;
}
#laptops fieldset span {
        display: inline-block;
        margin: 5px;
        width:130px;
        text-align: left;
        padding-bottom: 15px;
}

#laptops fieldset span:first-of-type {
    margin-top:30px;
}
span.price {
	padding-left: 25px;
}
aside {
	position: absolute;
	right: 0;
	top: 170px;
	display:  inline-block;
    vertical-align: middle;
    font-size: 24px;
    width: 230px;
    font-weight: normal;
}

aside label, aside input {
	padding: 35px 0 15px 0;
	vertical-align: middle;
}

aside input {
	width: 215px;
	
}

